@import 'partials/variables.scss';

header {
    position: fixed;
    z-index: 50;
    width: 100%;
    .courseTopHeader {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        background: $light-gray;
        height: 75px;
        box-shadow: 0px 8px 15px -10px rgba(0, 0, 0, 0.5);
        nav {
            height: 100%;
            .navItem {
                height: 100%;
                display: inline-flex;
                display: -ms-inline-flexbox;
                display: -webkit-inline-flex;
                align-items: center;
                padding: 0 30px;
                @media (max-width: $tablet){
                    padding: 0 20px;
                }
            }
        }
    }
}

#mainContentWrapper {
    // background: black;
}

.section {
    section {
        margin: 0 auto 4rem auto;
        max-width: 700px;
    }
}
.heroBanner {
    section {
        margin: 0 auto 0 auto;
        max-width: 700px;
    }
}

.courseBackground {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.courseWrapper {
    overflow: hidden;
    position: relative;
    padding-top: 75px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    // max-height: 100vh;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    // overflow-y: scroll;
    background: white;
    .section {
        background: white;
    }
}

#moduleList.hide{
    display:none;
}

.column.is-one-third-desktop {
    @media(min-width: $tablet){
        width: 50%;
    }
}

.error {
    background: $light-gray;
    font-size: 1.3rem;
    padding: 2rem;
    strong {
        margin: 0 5px;
    }
}

.file-preview {
    display: block;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 2.5rem;
    background: #e4e4e4;
    text-align: center;
    color: $text;
    i {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    &:hover {
        opacity: 0.7;
    }
    .file-preview-name {
        word-wrap: break-word;
        word-break: break-all;
        -ms-word-break: break-all;
    }
    @media (max-width: $tablet){
        min-height: auto;
    }
}

.fileColumns {
    @media(max-width: $tablet){
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column-reverse;
    }
}

section > .sectionHeading{
    // border-bottom: 5px solid $primary;
    font-size: 3rem;
    background: linear-gradient(90deg, #dddddd, transparent);
    padding: 2rem 20rem;
    margin-left: -20rem;
    margin-right: -20rem;
}