@import 'partials/variables.scss';

html.lightboxOpen {
    overflow: hidden;
}

.modalButtonArea {
    margin-bottom: 4rem;
    @media(max-width: $tablet){
        // text-align: center;
    }
}

.galleryItem {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    display: block;
    color: white;
    height: auto;
    img {
        margin: 0;
        display: block;
    }
    .imageOverlay {
        opacity: 0;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 1rem;
        transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -webkit-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
    }
    &:hover {
        .imageOverlay {
            opacity: 1;
        }
    }
}
.lightboxContainer.open {
    z-index: 100;
    opacity: 1;
}

.lightboxContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    max-height: 100%;
    transition: opacity 200ms ease, z-index 200ms ease;
    -o-transition: opacity 200ms ease, z-index 200ms ease;
    -moz-transition: opacity 200ms ease, z-index 200ms ease;
    -webkit-transition: opacity 200ms ease, z-index 200ms ease;
    .lightboxClose {
        cursor: pointer;
    }
    .imageOverlay {
        opacity: 0.8;
    }
    .container {
        width: auto;
        max-width: 1080px;
        padding: 0;
    }
    .lightboxItem {
        max-height: 100%;
        position: relative;
        .xButton {
            position: absolute;
            padding: 0.2rem .5rem;
            z-index: 100;
            top: 0;
            right: 0;
            left: auto;
            bottom: auto;
            background: white;
            color: $text;
            font-size: 2rem;
            opacity: 0.75;
        }
        .content {
            margin-bottom: 0!important;
        }
        figure {
            position: relative;
            display: block;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            min-height: 400px;
            min-width: 800px;
            @media (max-width: $tablet){
                min-height: 200px;
                min-width: 100%;
            }
        }
        img {
            display: block;
            position: relative;
            z-index: 1;
        }
        .lightboxLoadingAnimation {
            color: $light-gray;
            background: $dark-gray;
            position: absolute;
            top: 0; 
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            z-index: 0;
            background-position: center;
            background-size: cover;
            .imageOverlay {
                opacity: 0.2;
            }
            i {
                position: relative;
                opacity: 0.5;
                z-index: 1
            }
        }
    }
    .lightboxNavigation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        color: black;
        .arrow {
            cursor: pointer;
            padding: 1rem;
            font-size: 3rem;
            border: 1px solid $light-gray;
            background: white;
            opacity: 0.8;
            color: black;
            &.hide {
                opacity: 0;
                z-index: -100;
                cursor: default;
            }
            &.left {
                margin-left: -3rem;
                @media (max-width: 1100px) {
                    margin-left: 0;
                }
            }
            &.right {
                margin-right: -3rem;
                @media (max-width: 1100px) {
                    margin-right: 0;
                }
            }
            @media (max-width: $tablet){
                font-size: 2rem;
            }
        }
    }
}

.videoGalleryItem {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.lightboxNavBar {
    background: white;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    // position: absolute;
    // top: auto;
    // bottom: 0;
    // left: 0;
    // right: 0;
    height: 100px;
    min-height: 100px;
    flex-grow: 0;
    border-top: 2px solid $light-gray;
    .navItem {
        i {
            font-size: 2rem;
            &.fa-arrow-left {
                margin-right: 1.5rem;
            }
            &.fa-arrow-right {
                margin-left: 1.5rem;
            }
        }
        cursor: pointer;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        color: black;
        font-size: 1.5rem;
        &.hide {
            opacity: 0;
            cursor: default;
        }
    }
    @media(max-width: $tablet){
        height: 75px;
        min-height: 75px;
        .navItem {
            font-size: 1.3rem;
        }
    }
    @media(max-width: 400px){
        .navItem{
            padding: 0 1rem;
            font-size: 1rem;
            i {
                font-size: 1.5rem;
            }
        }
    }
}

.lightboxContent {
    background: white;
    height: 100%;
    width: 100%;
    max-width: 800px;
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    .iframeContainer {
        position: relative;
        padding-top: 56%;
        iframe {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;    
        }    
    }
    .content {
        padding: 2rem;
        overflow-y: scroll;
        max-height: 100%;
        flex-grow: 1;
        margin-bottom: 0;
        .metadata {
            span {
                padding-right: 1rem;
            }
        }
        p:last-child {
            margin-bottom: 0!important;
        }
    }
}

.lightboxPhotoContent {
    padding: 2rem;
    background: white;
}