{{ define "main" }}
<section class="section blog">
    <div class="container blog">
        <div class="blog-title">
            <div class="columns">
                <div class="column title-meta is-two-thirds">
                    <h1 class="title">{{ .Title }}</h1>
                    <div class="subtitle">{{ .Params.subtitle }}</div>            
                </div>
                <div class="column">
                    <div class="rss-subscribe">
                        {{ partial "rss-button" }}
                    </div>
                </div>
            </div>
        </div>
        {{ range .Pages }}
            <div class="blog-card">
                <h2 class="title">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h2>
                <p class="subtitle">{{ dateFormat "January 2, 2006" .Date }}</p>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        {{ end }}
    </div>
</section>
{{ partial "rss-popup" . }}
{{ end }}