.container {
    padding-left: 20px;
    padding-right: 20px;
}

.flexWrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.flexWrapper.spaceBetween {
    justify-content: space-between;
}

.flexWrapper.flexEnd {
    justify-content: flex-end;
}