{{- define "addCSS" -}}
    {{- $css := resources.Get "css/gallery.css" | resources.Minify -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{- end -}}

{{- define "main" -}}
    {{- $cloudinary := $.Site.Params.cloudinaryBase -}}
    {{ partial "hero-banner.html" . }}
    <section class="section">
        <div class="container">
            <div class="modalButtonArea">
            {{ with .Content }}
                <div class="content limitMax">
                    {{ . }}
                </div>
            {{ end }}
                <div class="standardButton is-uppercase is-medium submitPhotoButton">Submit A Photo</div>
            </div>
            <div class="columns is-mobile is-multiline">
                {{ range $i, $e := .Params.photos }}
                    <div class="column is-half-mobile is-one-quarter-tablet">
                        <div class="galleryItem" data-photo="{{ $i }}">
                            <div class="imageOverlay">{{ .title }}</div>
                            <img src="{{ $cloudinary }}w_400,h_400,q_60,f_auto,c_fill{{ .url }}">
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
    <div id="lightboxGallery" class="lightboxContainer" data-json="{{ .RelPermalink }}index.json">
        <div class="imageOverlay lightboxClose"></div>
        <div class="lightboxItem">
            <div class="lightboxClose xButton"><i class="fas fa-times-circle"></i></div>
            <figure>
                <img id="lightboxImage" src="" width="">                
                <div id="loadingImage" class="lightboxLoadingAnimation" style>
                    <div class="imageOverlay"></div>
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>
            </figure>
            <div class="lightboxPhotoContent content">
                <h1 id="lightboxTitle"></h1>
                <div id="lightboxContent"></div>
            </div>
            <div class="lightboxNavigation">
                <div id="previousButton" data-photo="" class="lightboxNavButton arrow left"><i class="fas fa-chevron-left"></i></div>
                <div id="nextButton" data-photo="" class="lightboxNavButton arrow right"><i class="fas fa-chevron-right"></i></div>        
            </div>
        </div>
    </div>
{{- end -}}

{{ define "addJS"}}
{{ $js := resources.Get "js/photo-gallery.js" | resources.Minify }}
<script src="{{ $js.RelPermalink }}"></script>
{{ end }}