<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} | Team All In</title>
    {{- $css := resources.Get "css/main.css" | resources.Minify -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{- block "addCSS" . -}}{{- end -}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ $.Site.Params.cloudinaryBase }}w_48,h_48,c_fit,f_png{{ $.Site.Data.site_settings.branding.favicon }}" type="image/x-icon">
</head>
<body>
    {{- block "header" . }}
        <!-- display default footer -->
        <!-- can be overriden by redefining the footer block -->
        {{ partial "header.html" (dict "Page" . "Site" $.Site "Nav" "member") }}
    {{- end -}}

    {{- block "main" . -}}
        <!-- main content will go here -->
    {{- end -}}

    {{- block "footer" . }}
        <!-- display default footer partial -->
        <!-- can be overriden by redefining the footer block -->
        {{- partial "footer.html" . }}
    {{- end -}}
    {{- block "addJS" . -}}{{- end -}}
</body>
</html>