<div id="coursePermissionModal" class="modal">
    <div class="modal-background" style="opacity: 0.5"></div>
    <div class="modal-content">
        <div class="content">
            <h2>Sorry you don't have permission to view this course</h2>
            <p>Please complete the previous training sessions in order to unlock this plage.</p>
            <p>If you have already completed the previous courses please contact Linda Muth and let her know so that you can be granted access.</p>
            <br>
            <p><a class="" style="font-size:2rem;" href="/representatives/courses/">Go Back</a></p>
        </div>
    </div>
</div>