{{ $cloudinary := .Cloudinary }}
<div class="column is-one-quarter-widescreen is-one-third-desktop is-half-tablet">
    {{ if .Page.Params.under_construction }}
        <div class="card courseCard underConstruction">
    {{ else }}
        <a class="card courseCard" href="{{ .Page.RelPermalink }}">
    {{ end }}
        <div class="card-image">
            <figure class="image is-16by9{{ if not .Page.Params.featured_image }} icon{{ end }}">
                    {{ if .Page.Params.under_construction }}
                    <div class="constructionText">
                        <i class="fas fa-exclamation-triangle"></i> 
                        <div>Under Construction</div>
                    </div>
                    {{ end }}
                {{- if .Page.Params.featured_image -}}
                    <img src="{{ $cloudinary }}w_460,h_260,c_fill,q_80{{ .Page.Params.featured_image }}">
                {{- else -}}
                    <i class="fas fa-book-open"></i>
                {{- end -}}
            </figure>
        </div>
        <div class="card-content">
            <h2 class="subtitle">{{ .Page.Title }}</h2>
            <p>{{ .Page.Params.short_description | truncate 100 }}</p>
        </div>
    {{ if .Page.Params.under_construction }}
        </div>
    {{ else }}
        </a>
    {{ end }}
</div>