<!-- default footer -->
<footer>
    <div class="container">
        <div class="columns">
           
            <div class="column">
                <div class="companyName">
                    Team All In
                    <div class="copyright">
                        Copyright  Team All In {{ now.Format "2006" }}
                    </div>
                </div>
            </div>

            <div class="column">
                    <div class="usefulLinks">
                        <span>Useful Links</span>
                    </div>
                    <nav>
                        <a href="/" class="navItem">Member Area</a>
                        <a href="/representatives/" class="navItem">Representative Area</a>
                        <a href="/contact/" class="navItem">Contact Us</a>
                    </nav>
                </div>
        </div>
    </div>
    <div class="container">

    </div>
</footer>
