<!-- default header -->
<header>
    <div class="topHeader">
        <div class="container">
            <div class="flexWrapper flexEnd">
                <nav class="headerTopNav">
                    <a class="navItem" href="/">Representative Login</a>
                    <a class="navItem" href="/">Contact Us</a>
                </nav>
            </div>            
        </div>
    </div>
    <div class="mainHeader">
        <div class="container">
            <div class="flexWrapper spaceBetween">
                <a href="/" id="logo">
                    <img src="{{ $.Site.Params.cloudinaryBase }}w_90,q_80{{ $.Site.Data.site_settings.branding.logo }}">
                </a>
                <nav class="headerMainNav">
                    <a class="navItem" href="/">Home</a>
                    <a class="navItem" href="/">Member Resources</a>
                    <a class="navItem" href="/gallery">Photos</a>
                    <a class="navItem" href="/">DreamTrips App</a>
                    <a class="navButton" href="">Submit A Photo</a>
                </nav>
            </div>
        </div>
    </div>
</header>