<!-- default header -->
{{ $cloudinary := .Site.Params.cloudinaryBase }}
{{ $Site := .Site }}
<header>
    <div class="topHeader">
        <div class="container">
            {{ if or (eq .Nav "representative") (eq .Page.Section "representatives") }}
            <div class="flexWrapper spaceBetween">
                <nav class="headerTopNav">
                        <a href="/" class="goBackButton navItem">
                            <span>
                                <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Return to Member Site
                            </span>
                        </a>
                </nav>
                <nav class="headerTopNav">
                        <a class="navItem profileLink">Welcome <span class="profileUserName"></span></a>
                        <a class="navItem logoutButton">Logout</a>
                        
                </nav>
            </div>
            {{ else }}
            <div class="flexWrapper flexEnd">
                    <nav class="headerTopNav">
                        <a class="navItem" href="/representatives/">Representative Login</a>
                        <a class="navItem" href="/contact/">Contact Us</a>
                    </nav>
                </div>
            {{ end }}
        </div>
    </div>
    <div id="mainHeader" class="mainHeader">
        <div class="container">
            <div class="flexWrapper spaceBetween">
                {{ if or (eq .Nav "representative") (eq .Page.Section "representatives") }}
                    <a href="/representatives/" id="logo">
                        <img src="{{ $cloudinary }}w_90,q_80{{ $.Site.Data.site_settings.branding.logo }}">
                        <div class="title">Rep Zone</div>
                    </a>
                    <nav class="headerMainNav">
                        {{ range .Site.Data.menus.representative_navigation.desktop }}
                            <a class="navItem
                                {{- with .class }} {{ . }}{{- end -}}" href="
                                {{- if .page -}}
                                    {{- with $Site.GetPage .page -}}
                                        {{ .RelPermalink }}
                                    {{- end -}}
                                {{- end -}}">{{ .label }}</a>
                        {{ end }}
                    </nav>
                {{ else }}
                <a href="/" id="logo">
                    <img src="{{ $cloudinary }}w_90,q_80{{ $.Site.Data.site_settings.branding.logo }}">
                </a>
                <nav class="headerMainNav">
                    <a class="navItem" href="/">Home</a>
                    <a class="navItem" href="/member-resources">Member Benefits</a>
                    <a class="navItem" href="/gallery">Photos</a>
                    <a class="navItem" href="/apps-to-download">DreamTrips App</a>
                    <a href="/blog" class="navItem">Blog</a>
                    <div class="navButton submitPhotoButton" href="">Submit A Photo</div>
                </nav>
                {{ end }}
                <div class="mobileMenuIcon openMobileSecondary"><i class="fas fa-bars"></i></div>
            </div>
        </div>
    </div>
    {{ partial "mobile-nav.html" (dict "Page" .Page "Site" .Site "Nav" .Nav) }}
</header>