<!-- default header -->
<header>
    <div class="topHeader">
        <div class="container">
            <div class="flexWrapper flexEnd">
                <nav class="headerTopNav">
                    <a class="navItem" href="/">Representative Login</a>
                    <a class="navItem" href="/">Contact Us</a>
                </nav>
            </div>            
        </div>
    </div>
    <div class="mainHeader">
        <div class="container">
            <div class="flexWrapper spaceBetween">
                <div id="logo">
                    <img src="" width="300">
                </div>
                <nav class="headerMainNav">
                    <a class="navItem" href="/">Home</a>
                    <a class="navItem" href="/">Member Resources</a>
                    <a class="navItem" href="/">Photos</a>
                    <a class="navItem" href="/">DreamTrips App</a>
                    <a class="navButton" href="">Submit A Photo</a>
                </nav>
            </div>
        </div>
    </div>
</header>