{{ $currentPage := .Page.RelPermalink }}
{{ $site := .Site }}
<!-- primary mobile nav -->
<div class="mobileNavContainer">
    <nav class="mobileNav">
        {{ if or (eq .Nav "representative") (eq .Page.Section "representatives") }}
            {{- range .Site.Data.menus.representative_navigation.mobile -}}
                <a class="navItem
                    {{- with .class }} {{ . }}{{- end -}}
                    {{ if .page }}
                    {{- with $site.GetPage .page -}}
                        {{- if eq $currentPage .RelPermalink }} current{{ end -}}{{ end }}
                    {{- end -}}" href="{{ if .page }}{{ with $site.GetPage .page }}{{ .RelPermalink }}{{ end }}{{ end }}">
                    <i class="fas fa-{{ .fontawesome_icon }}"></i>
                    <div>{{ .label }}</div>
                </a>                
            {{- end -}}
        {{ else }}
            {{- range .Site.Data.menus.member_navigation.mobile -}}
            <a class="navItem
                {{- with .class }} {{ . }}{{ end -}}
                {{- with $site.GetPage .page -}}
                    {{- if eq $currentPage .RelPermalink }} current{{ end -}}
                {{- end -}}" href="{{ with $site.GetPage .page }}{{ .RelPermalink }}{{ end }}">
                <i class="fas fa-{{ .fontawesome_icon }}"></i>
                <div>{{ .label }}</div>
            </a>
            {{- end -}}
        {{ end }}
    </nav>
</div>

<!-- secondary mobile nav -->
<div id="secondaryNav" class="sideNavContainer">
    <nav class="sideNav">
        {{ if or (eq .Nav "representative") (eq .Page.Section "representatives")}}
            <div class="navGrouping">
                <a href="/" class="goBackButton navItem">
                    <span>
                        <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Go to Member Site
                    </span>
                </a>
                <hr>
                <a href="/blog/" class="navItem">Blog</a>
                <a href="/contact/" class="navItem" href="">Contact Us</a>
                <a class="navItem logoutButton">Sign Out</a>        
            </div>
        {{ else }}
            <div class="navGrouping">
                <a class="goBackButton navItem" href="/representatives/">
                    <span>
                        <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Representative Login
                    </span>
                </a>
                <hr>
                <a href="/blog/" class="navItem">Blog</a>
                <a class="navItem" href="/contact/">Contact Us</a>
            </div>
        {{ end }}
    </nav>
    <div class="imageOverlay closeMobileSecondary"></div>
</div>