{{ $currentPage := .RelPermalink }}
<div class="mobileNavContainer">
    <nav class="mobileNav">
        {{- range $.Site.Data.menus.member_navigation.mobile -}}
        <a class="navItem
            {{- with $.Site.GetPage .page -}}
                {{- if eq $currentPage .RelPermalink }} current{{ end -}}
            {{- end -}}" href="{{ with $.Site.GetPage .page }}{{ .RelPermalink }}{{ end }}">
            <i class="fas fa-{{ .fontawesome_icon }}"></i>
            <div>{{ .label }}</div>
        </a>
        {{- end -}}
    </nav>
</div>