<div class="mobileNavContainer">
    <nav class="mobileNav">
        <a class="navItem" href="/">
            <i class="fas fa-home"></i>
            <div>Home</div>
        </a>
        <a class="navItem" href="/member-resources">
            <i class="fas fa-play"></i>
            <div>Videos</div>
        </a>
        <a class="navItem" href="/gallery">
            <i class="fas fa-images"></i>
            <div>Gallery</div>
        </a>
        <a class="navItem" href="/apps-to-download">
            <i class="fas fa-home"></i>
            <div>App</div>
        </a>
    </nav>
</div>