{
    "section_heading": {{ .section_heading | jsonify }},
    "video": {
        {{- if in .video_url "vimeo" }}
            {{- $jsonURL := print "https://vimeo.com/api/oembed.json?url=" .video_url "&width=640" -}}
            {{- $json := getJSON $jsonURL -}}
            "author": {{ $json.author_name | jsonify }},
            "vimeo_description": {{ $json.description | jsonify }},
            "video_id": {{ $json.video_id | jsonify }},
            "upload_date": {{ $json.upload_date |jsonify }},
            "embed_code": {{ $json.html | jsonify }},
            "platform": "vimeo",
        {{- end -}}
        "url": {{ .video_url | jsonify }}
    },
    "template": {{ .template | jsonify }}
}