.topHeader {
    font-size: .9rem;
    border-bottom: 1px solid $light-gray;
    @media (max-width: $tablet) {
        display: none;
    }
}

.mainHeader {
    border-bottom: 1px solid $light-gray;
    padding: 1rem 0;
    @media (max-width: $tablet){
        padding: 0.6rem 0;
    }
}

.goBackButton {
    // margin-left: 1rem;
    span {
        padding: 0.2rem 0.5rem;
        // border: 1px solid $dark-gray;
        background: $light-gray;
        color: black;
        border-radius: 5px;
        opacity: 0.8;
    }
}

nav.headerTopNav {
    margin: 0 -1rem;
    
}

nav.headerMainNav {
    margin: 0 -1rem;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    align-items: center;
    @media (max-width: $tablet){
        display: none
    }
}
nav > .navItem {
    display: inline-block;
    padding: 1.2rem;
    color: $text;
    &:hover {
        color: blue;
    }
}

nav > .navButton {
    padding: .75rem 1rem;
    background: $primary;
    color: white;
    font-weight: bold;
    margin: 0 1rem;
}

#logo {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    .title {
        margin-left: 0.5rem;
    }
    @media (max-width: $tablet){
        .title {
            font-size: 1.5rem;
        }
        img {
            height: 60px;
        }
    }
    @media (max-width: $mobile){
        margin-left: -0.5rem;
        img {
            height: 40px;
        }
    }
}