body {
    // @media(max-width: $tablet){
    //     padding-top: 80px;
    // }
    // @media(max-width: $mobile){
    //     padding-top: 60px;
    // }
}

body.fixedNav {
    @media (min-width: $tablet){
        padding-top: 111px;
    }
}

.topHeader {
    font-size: .9rem;
    border-bottom: 1px solid $light-gray;
    @media (max-width: $tablet) {
        display: none;
    }
}

.mainHeader {
    border-bottom: 1px solid $light-gray;
    padding: 1rem 0;
    background: white;
    transition: padding 200ms ease;
    -moz-transition: padding 200ms ease;
    -o-transition: padding 200ms ease;
    -webkit-transition: padding 200ms ease;
    // @media (max-width: $tablet){
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: auto;
    //     padding: 0.6rem 0;
    //     z-index: 50;
    // }
    &.fixed {
        @media (min-width: $tablet){
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            z-index: 50;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);    
            padding: 0.5rem 0;
        }
    }
}

.goBackButton {
    // margin-left: 1rem;
    span {
        padding: 0.2rem 0.5rem;
        // border: 1px solid $dark-gray;
        background: $light-gray;
        color: black;
        border-radius: 5px;
        opacity: 0.8;
    }
}

nav.headerTopNav {
    margin: 0 -1rem;
    
}

nav.headerMainNav {
    margin: 0 -1rem;
    display: flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    align-items: center;
    font-size: 1.15rem;
    @media(max-width: $desktop){
        font-size: 1rem;
    }
    @media (max-width: $tablet){
        display: none
    }
}
nav > .navItem {
    display: inline-block;
    padding: 1.2rem 1.5rem;
    color: $text;
    letter-spacing: 0.5px;
    // font-weight: bold;
    &:hover {
        color: blue;
    }
}

nav > .navButton {
    padding: .75rem 1rem;
    background: $primary;
    color: white;
    font-weight: bold;
    margin: 0 1rem;
}
#logo {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    .title {
        margin-left: 0.5rem;
    }
    @media (max-width: $tablet){
        .title {
            font-size: 1.5rem;
        }
        img {
            height: 60px;
        }
    }
    @media (max-width: $mobile){
        margin-left: -0.5rem;
        img {
            height: 40px;
        }
    }
}

