body {
    @media (max-width: $tablet){
        padding-bottom: 75px;
    }
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: $tablet){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.flexWrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.flexWrapper.spaceBetween {
    justify-content: space-between;
}

.flexWrapper.flexEnd {
    justify-content: flex-end;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .5;
}

.heroBanner {
    position: relative;
    padding: 4rem 0;
    background: $dark-gray;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.5rem;
    .container {
        position: relative;
        z-index: 2;
    }
    .titleText {
        font-size: 3rem;
        font-weight: bold;
    }
    &.homepageHero {
        font-size: 3rem;
        padding: 10rem 0;
        text-align: center;
        line-height: 100%;
        .titleText {
            font-size: 2.5em;
            line-height: 100%;
        }
        @media (max-width: $tablet) {
            padding: 7rem 0;
            font-size: 1.5rem;
        }
    }
    &.alignLeft {
        text-align: left;
        @media (max-width: $tablet){
            text-align: left;
        }
    }
    @media (max-width: $tablet){
        text-align: center;
        padding: 3rem 0;
        .titleText {
            font-size: 2rem;
        }
    }
}

.card {
    display: block;
    transition: transform 200ms ease;
    -moz-transition: transform 200ms ease;
    -webkit-transition: transform 200ms ease;
    -o-transition: transform 200ms ease;
    &.card:hover {
        transform: scale(1.025)
    }
    &.courseCard {
        border-radius: 5px;
        overflow: hidden;
        transition: transform 200ms ease;
        -webkit-transition: transform 200ms ease;
        -moz-transition: transform 200ms ease;
        -o-transition: transform 200ms ease;
        cursor: pointer;
        &:hover {
            // opacity: 0.8;
            transform: scale(1.025)
        }
        &.underConstruction {
            cursor: not-allowed;
            .constructionText {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                display: flex;
                display: -ms-flexbox;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 10;
                background: rgba(255, 0, 0, 0.5);
                color: rgba(255, 255, 255, 0.9);
                font-size: 2rem;
                div {
                    font-size: 1.3rem;
                    padding-top: 0.5rem;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .icon {
            background: $dark-gray;
            opacity: 0.3;
            font-size: 4rem;
            width: 100%;
            color: $light-gray;
            i {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                display: -ms-flexbox;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
            }
        }
        .subtitle {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        @media (max-width: $tablet){
            display: block;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            .card-image {
                width: 35%;
                figure {
                    background: $dark-gray;
                    padding-top: 100%;
                    display: flex;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        display: block;
                        top: 0;
                        bottom: 0;
                        left: auto;
                        right: auto;
                        height: 100%;
                        width: auto;
                        max-width: none;
                    }
                }
            }
            .card-content {
                width: 65%;
                font-size: 1rem;
            }
        }
        @media (max-width: $mobile){
            .card-image {
                figure  {
                    height: 100%;
                }
            }
            .card-content {
                font-size: 0.8rem;
            }
        }
    }
}

.userProfileImage {
    figure {
        background: $dark-gray;
        &.icon {
            opacity: 0.3;
            font-size: 4rem;
            width: 100%;
            position: relative;
            color: white;
            i {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                display: flex;
                display: -ms-flexbox;
                display: -webkit-flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.section.photoGrid {
    @media (max-width: $tablet){
        padding-bottom: 0;
        padding-top: 0;
    }
}

.column.photoGrid {
    @media (max-width: $tablet){
        padding: 0;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.photoGridLink {
    position: relative;
    display: block;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    &:hover {
        color: white;
    }
    .photoGridContent {
        position: relative;
        z-index: 1;
        max-width: 20rem;
    }
}

.iframeContainer {
    position: relative;
    padding-top: 56%;
    iframe {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;    
    }    
}

.modal-content {
    padding: 3.5rem;
    background: white;
    .field {
        margin-bottom: 2rem;
    }
    @media (max-width: $tablet){
        overflow-y: scroll;
    }
}

.modal.is-active {
    z-index: 500;
}

.photoModalCloser {
    cursor: pointer;
}

.bla-bla-bla {
    display: none;
}

.appImages {
    .column {
        img {
            max-width: 100%;
            width: 100%;
        }
        width: 25%;
        @media (max-width: $tablet){
            width: 33.33%
        }
        @media(max-width: $mobile){
            width: 50%;
        }
    }
}

.sections {
    .section {
        background-size: cover;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        font-size: 1.5rem;
        @media (max-width: $tablet){
            font-size: 1.2rem;
        }
    }
    .section.light {
        .imageOverlay {
            background: white;
        }
    }
    .section.dark {
        background-color: $dark-gray;
        color: white;
        * {
            color: white;
        }
    }
}