{{ define "header" }}
    {{ partial "header.html"  (dict "Page" . "Site" $.Site "Nav" "representative") }}
{{ end }}

{{ define "main" }}
    {{- $cloudinary := $.Site.Params.cloudinaryBase -}}
    {{- partial "hero-banner.html" . -}}
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {{ range $i, $e := .Params.courses }}
                    {{ with $.Site.GetPage . }}
                    <div class="column is-one-quarter-widescreen is-one-third-desktop">
                        <a class="card courseCard" href="{{ .RelPermalink }}">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    <img src="{{ $cloudinary }}w_500,h_281,c_fill,q_80{{ .Params.featured_image }}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <h2 class="subtitle">{{ .Title }}</h2>
                                <p>{{ .Params.short_description | truncate 100 }}</p>
                            </div>
                        </a>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}